profiles
{   
    // run pipeline on local machine
    standard {
        process.executor = 'local'
    }

    // Run pipeline on PBS cluster
    cluster_d {
        process.executor = 'pbs'
        process.clusterOptions = '-cwd -V -l vf=4g -pe serial 4'
    }

    // Run pipeline on SGE cluster
    cluster_m {
        process.executor = 'sge'
        process.clusterOptions = '-V -cwd -pe hmp 4'
    }
}

trace
{   
    // Set to false on Helmholtz Zentrum SGE cluster ('< <(' error)
    enabled = false
}

timeline
{
    enabled = true
}

params 
{
    outdir = "result"
    prefix = "test1"
    dedup = false
    against = true
    seq_type = "pair"
    bin_path = "$HOME/conda3/envs/qiime2-2018.2/bin"
    mode = "complete"
    green_gene = "./resources/gg-13-8-99-515-806-nb-classifier.qza"

    //DO NOT CHANGE

    /*--------------------------------*
     *    PATHS TO EXTERNAL RESOURCES
     *--------------------------------*/
        
    //Adapter sequences and synthetic contaminants to be removed in the trimming step
    adapters="./resources/adapters.fa"    
    phix174ill="./resources/phix174_ill.ref.fa.gz"
    
    //Reference pan-genome for contamination. It should have been indexed beforehand.
    refForeingGenome="./resources"

    // Contig and protein length filter after assembly and ORF calling step
    contig_len=1500
    protein_len=60

    // HVPC database and lineage information
    hvpc_anno="./resources/HVPC/annotations_hvpc.txt"
    lin_virus="./resources/lineages_Viruses.csv"
    
    
    /*--------------------------------*
     *    SOFTWARE PARAMETERS
     *--------------------------------*/

    //BBduk parameters for trimming    
    qin=33 //Input quality offset: 33 (ASCII+33) or 64 (ASCII+64)
    kcontaminants = 23 //Kmer length used for finding contaminants    
    phred = 10 //regions with average quality BELOW this will be trimmed 
    minlength = 60 //reads shorter than this after trimming will be discarded
    mink = 11 //shorter kmers at read tips to look for 
    hdist = 1  //maximum Hamming distance for ref kmers            

    //BBwrap parameters for decontamination    
    mind = 0.95 //Approximate minimum alignment identity to look for
    maxindel = 3 //longest indel to look for
    bwr=0.16 //restrict alignment band to this
}


process 
{
    //executor should be set to 'pbs' when a resource manager belonging to the 
    //PBS/Torque family of batch schedulers is used, or set to 'sge' when using  
    //a Sun Grid Engine cluster (or a compatible platform, e.g., Open Grid Engine)
    //executor = 'pbs'
    
    //Set the used queue, this queue will be used for all the processes    
    //queue = 'metagenome'
    
    
    withName: dedup
    {
//        memory = '20 GB'
        jobName = "dedup"      
    }    
    
    withName: trim 
    {
//        memory = '20 GB'
        jobName = "trim"      
    }    
    
    withName: decontaminate
    {
//        memory = '40 GB'
        jobName = "decontaminate"      
    }
    
    withName: assembly
    {
//        memory = '10 GB'
        jobName = "assembly"      
    }

    withName: againsthpvc
    {
//        memory = '2 GB'
        jobName = "bhpvc"      
    }
    
    
    withName: profileTaxa 
    {
//        memory = '30 GB'
        jobName = "profileTaxa"      
    }
    
    withName: alphaDiversity
    {
        memory = '8 GB'
        jobName = "alphaDiversity"      
    }
    
    withName: profileFunction 
    {
        memory = '30 GB'
        jobName = "profileFunction"      
    }    
    
    withName: logQC
    {
        memory = '100 MB'
        jobName = "logQC"      
    }
    
    withName: saveQCtmpfile
    {
        memory = '4 GB'
        jobName = "saveQCtmpfile"      
    }    
    
    withName: logCC
    {
        memory = '100 MB'
        jobName = "logCC"      
    }    
    
    withName: saveCCtmpfile
    {
        memory = '100 MB'
        jobName = "saveCCtmpfile"      
    }        
}
