profiles
{   
    standard {
        process.executor = 'local'
    }

    // Run pipeline on SLURM cluster
    hpc_slurm {
        process.executor = 'slurm'
        process.cpus = 1
        process.memory = '10 GB'
        process.queue = 'normal_q'
        process.conda = "${HOME}/miniconda3/envs/qiime2-2020.11"
        process.time = "20 h"
    }
}

trace
{   
    enabled = true
    fields = 'task_id,hash,tag,process,status,exit,submit,realtime,%cpu,%mem,peak_rss,peak_vmem'
}

timeline
{
    enabled = true
}


process {
    cache = "lenient"
    
    withLabel: "small" {
        cpus = 2
        memory = "8 GB"
    }

    withLabel: "medium" {
        cpus = 4
        memory = "20 GB"
    }

    withLabel: "big" {
        cpus = 8
        memory = "40 GB"
    }

    withName: "train_classifier" {
        cpus = 8
        memory = "50 GB"
    }

    withName: "taxonomy" {
        cpus = 4
        memory = "60 GB"
    }
}


params {
    outdir = "output"
    report = "report"
    mode = "remove_adapters"         // {all, remove_adapters}

    // Step 1: Data preparation, import data into qiime2
    raw_seq_dir = "${baseDir}/data"
    raw_seq_ext = ".fq.gz"
    softlink = "yes"                 // FASTQ files in $raw_seq_dir are softlinked to original data
    // metadata = "${baseDir}/metadata.csv"
    classifier = "${baseDir}/classifier.qza"

    // ------ 16s 525F806R --------
    // 341F-785R
    primer_forward = "CCTACGGGNGGCWGCAG"
    primer_reverse = "GACTACHVGGGTATCTAATCC"

    // 525F-806R
    // primer_forward = "GTGCCAGCMGCCGCGGTAA"
    // primer_reverse = "GGACTACHVGGGTWTCTAAT"

    SILVA_taxonomy = "${HOME}/data2/db/SILVA/qiime/SILVA_132_QIIME_release/taxonomy/16S_only/99/majority_taxonomy_7_levels.txt"
    SILVA_sequence = "${HOME}/data2/db/SILVA/qiime/SILVA_132_QIIME_release/rep_set/rep_set_16S_only/99/silva_132_99_16S.fna"
    
    // ------ 18s 528F706R --------
    // primer_forward = "GCGGTAATTCCAGCTCCAA"
    // primer_reverse = "AATCCRAGAATTTCACCTCT"
    // SILVA_taxonomy = "${HOME}/data2/db/SILVA/qiime/SILVA_132_QIIME_release/taxonomy/18S_only/99/majority_taxonomy_7_levels.txt"
    // SILVA_sequence = "${HOME}/data2/db/SILVA/qiime/SILVA_132_QIIME_release/rep_set/rep_set_18S_only/99/silva_132_99_18S.fna"
    
    // ------ Clean reads ---------
    trunc_len_forward = 280
    trunc_len_reverse = 200

    // ------ Train classifier ----
    min_reference_length = 300
    max_reference_length = 600

    // denoise
    mfpoa = 10
}
