profiles
{   
    standard {
        process.executor = 'local'
    }

    // Run pipeline on SLURM cluster
    hpc_slurm {
        process.executor = 'slurm'
        process.cpus = 1
        process.memory = '1 GB'
        process.queue = 'normal_q'
        process.conda = "${HOME}/miniconda3/envs/qiime2-2020.11"
    }
}

trace
{   
    enabled = true
    fields = 'task_id,hash,tag,process,status,exit,submit,realtime,%cpu,%mem,peak_rss,peak_vmem'
}

timeline
{
    enabled = true
}


process {
    cache = "lenient"
    
    withLabel: "small" {
        cpus = 2
        memory = "8 GB"
    }

    withLabel: "medium" {
        cpus = 6
        memory = "40 GB"
    }

    withLabel: "big" {
        cpus = 12
        memory = "80 GB"
    }

    withName: "train_classifier" {
        cpus = 12
        memory = "50 GB"
        time = "6 h"
    }

    withName: "taxonomy" {
        cpus = 10
        memory = "50 GB"
        time = "3 h"
    }
}


params 
{    
    outdir = "output"
    report = "report"
    mode = "remove_adapters"         // {all, remove_adapters}

    // Step 1: Data preparation, import data into qiime2
    raw_seq_dir = "${baseDir}/data"
    raw_seq_ext = ".fq.gz"
    metadata = "${baseDir}/metadata.csv"

    primer_forward = "GTGCCAGCMGCCGCGGTAA"
    primer_reverse = "GGACTACHVGGGTWTCTAAT"
//    classifier = false
    classifier = "${baseDir}/classifier.qza"

    // for 16S
    SILVA_taxonomy = "${HOME}/data2/db/SILVA/qiime/SILVA_132_QIIME_release/taxonomy/16S_only/99/majority_taxonomy_7_levels.txt"
    SILVA_sequence = "${HOME}/data2/db/SILVA/qiime/SILVA_132_QIIME_release/rep_set/rep_set_16S_only/99/silva_132_99_16S.fna"

    // for 18S
    // SILVA_taxonomy: ${HOME}/data2/db/SILVA/qiime/SILVA_132_QIIME_release/taxonomy/18S_only/99/majority_taxonomy_7_levels.txt
    // SILVA_sequence: ${HOME}/data2/db/SILVA/qiime/SILVA_132_QIIME_release/rep_set/rep_set_18S_only/99/silva_132_99_18S.fna

    trunc_len_forward = 156
    trunc_len_reverse = 154

    // Step 5: Train classifier
    // ----------------------------------------------------------------------------
    min_reference_length = 240
    max_reference_length = 260

}
